<!-- notify modal-->
<div class="ui small modal" id="notify-modal">
  <div class="header">
    <i class="flag icon"></i>Get Notified
    <img src="/assets/img/study_legal_icon.png" style="max-height:34px;float:right;margin-top: -4px;"/>
  </div>
  <div class="content">
    <p>Give us your email and we'll let you know when we launch.</p>
    <!-- Begin MailChimp Signup Form -->
      <form action="//legal.us12.list-manage.com/subscribe/post?u=88ce2b9479cb7c137bc6ffa5b&amp;id=8b24948575" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      	<input type="email" value="" name="EMAIL" class="ui fluid input" id="mce-EMAIL" placeholder="Email"/>
          <div style="position: absolute; left: -5000px;" aria-hidden="true">
            <input type="text" class="ui input fluid" name="b_88ce2b9479cb7c137bc6ffa5b_8b24948575" tabindex="-1" value=""/>
          </div>
          <!--<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>-->
    <!--End mc_embed_signup-->
  </div>
  <div class="actions">
    <div class=""><input type="submit" value="Signup " name="subscribe" id="mc-embedded-subscribe" class="ui primary button"></div>
    </form>
  </div>
</div>
