<!--reset modal-->
<div class="ui small modal" id="reset-modal">
  <div class="header">
    <i class="mail icon"></i> Reset Your Password
  </div>
  <div class="content">
    <p>Enter your email here and we'll send you a link to reset your password.</p>
    <form id="reset-form" action="/user/reset" method="POST">
    <div class="ui left icon left input fluid">
      <input type="text" placeholder="Email" name="email" id="email" />
      <i class="user icon"></i>
    </div><br/>
    <!--<div class="g-recaptcha" data-sitekey="6Lc-_xYTAAAAAPKP6Hai3ObbNWweq6dUwBhypIC2"></div>-->
  </div>
  <div class="actions">
    <div class=""><input class="ui green button" type="submit" value="Send Reset"/></form></div>
  </div>
</div>
