<div class="sixteen wide column">
  <div class="ui pointing menu">
    <a href="/apollo" class="{% if page.name == 'Admin'%} active{% endif %} item">
      General
    </a>
    <a href="/apollo/view/books" class="{% if page.name == 'ViewBooks'%} active{% endif %} item">
      View Books
    </a>
    <a href="/apollo/addcase" class="{% if page.name == 'AddCases'%} active{% endif %} item">
      Add Single Material
    </a>
    <a href="/apollo/add/citations" class="{% if page.name == 'Add Citations'%} active{% endif %} item">
      Add Citations
    </a>
    <a href="/apollo/view/citations" class="{% if page.name == 'View Citations'%} active{% endif %} item">
      View Citations
    </a>
    <a href="/apollo/view/students" class="{% if page.name == 'ViewStudents'%} active{% endif %} item">
      View Students
    </a>
  </div>
</div>
