{% include 'pages/inc/header.html' %}
    <div class="row">
      <div class="one wide column">
      </div>
      <div class="four wide column">
        <div class="ui card">
          <div class="image">
            <img src="/assets/img/about-photo.jpg">
          </div>
          <div class="content">
            <p class="header">Nathan Wade</p>
            <div class="meta">
              <span class="date">Honolulu, HI</span>
            </div>
            <div class="description">
              Surfer, Software, Law Student.
            </div>
          </div>
          <div class="extra content">
            <a>
              <!--<i class="twitter icon"></i>-->
              <a href="http://nfwade.com/" target="_blank">Nathan Wade</a>
            </a>
          </div>
        </div>
      </div>
      <div class="ten wide column">
        <h2>Note From Founder</h2>
        <p class="founder-note">
          My name is Nathan Wade.  I am a third year law student and the founder of Study Legal, LLC.  Before I entered law school I worked as a software developer.  The golden rule of software development is "don't repeat yourself" (DRY).  My first year of law school was painfully repetitive.  Instead of studying, most of my time was spent taking, organizing, and transferring notes.  In response to the time and opportunity wasted in my first year, I spent my second year creating this software.  I hope it saves you money, helps you study, and gives you more time for what's really important - whatever that may be.
        </p>
      </div>
    </div>
</div>
    <div class="ui equal width stackable externally celled grid our-mission">
          <div class="center aligned row">
            <div class="column">
              <h2 class="ui center aligned icon header">
                <i class="circular rocket icon"></i>
                <div class="content">
                  Our Mission
                </div>
              </h2>
            <p class="centered-text">
              To minimize the time, and maximize the effectiveness of legal education.
            </p>
            </div>
          </div>
    </div>
<div class="ui container grid page-content">
<div class="row">
  <div class="seven wide column centered">
        <div class="ui centered-text">
          <h2>About</h2>
          <p>
            Study Legal provides law students all of the public domain materials their classes require in a format that makes reading, briefing, and outlining, a single step.
          </p>
        </div>
  </div>
</div>

<div class="fifty-spacer"></div>
<h4 class="ui horizontal divider header">
  <i class="laptop icon"></i>
  Services
  </h4>
<div class="fifty-spacer"></div>

<div class="row">

    <div class="two wide column">
    </div>
    <div class="five wide column">
          <img class="ui right floated medium rounded image" src="/assets/img/read-screenshot.jpg">
    </div>
      <div class="eight wide column">
        <div class="ui items">
          <div class="item">
            <div class="content">
              <a href="/features" class="header">Basic Service</a>
              <div class="meta">
                <span class="cinema">Free</span>
              </div>
              <div class="description">
                <p>User's with Basic Accounts can add/remove classes, add materials to each class, and read the materials online, anywhere.</p>
              </div>
              <div class="extra">
                <div class="ui right floated green button register-btn">
                  Sign Up
                  <i class="chevron right icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>

<div class="fifty-spacer"></div>

<div class="row">
    <div class="two wide column">
    </div>
    <div class="five wide column">
          <img class="ui right floated medium rounded image" src="/assets/img/brief-screenshot.jpg">
    </div>
      <div class="eight wide column">
        <div class="ui items">
          <div class="item">
            <div class="content">
              <a href="/features" class="header">Pro Service</a>
              <div class="meta">
                <span class="cinema">$149.99 / Semester</span>
              </div>
              <div class="description">
                <p>User's with Pro Accounts can take notes while they read by highlighting text.  Those notes are automatically assembled into briefs, which can be viewed or edited.  The briefs can be further assembled into an Outline that is available for download.</p>
              </div>
              <div class="extra">
                <div class="ui right floated green button register-btn">
                  Sign Up
                  <i class="chevron right icon"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>
</div>

  </div>
{% include 'pages/modals/contact.html' %}
{% include 'pages/inc/footer.html' %}
