{% include 'pages/inc/header.html' %}
<div class="ui grid container">
  <div class="one wide column"></div>
  <div class="sub_page_wrapper four wide column">
    <div class="ui sticky sticky_sub_menu">
      <h2 class="ui header">
        <img src="/assets/img/study_legal_icon.png" />
        Topics
      </h2>
      <div class="ui secondary vertical pointing menu learn-menu">
        <div class="header item">READ</div>
        <a href="#add-a-course" class="active item">Add a Course</a>
        <a href="#find-a-case" class="item">Find a Case</a>
        <a href="#add-a-code" class="item">Add a Code</a>
        <a href="#add-custom-material" class="item">Add a Custom Material</a>
        <a href="#arrange-materials" class="item">Arrange Materials</a>
        <div class="header item">BRIEF</div>
        <a href="#take-notes" class="item">Take Notes</a>
        <a href="#edit-a-brief" class="item">Edit a Brief</a>
        <div class="header item">OUTLINE</div>
        <a href="#view-outlines" class="item">View Outlines</a>
        <a href="#download-outlines" class="item">Download Outlines</a>
      </div>
    </div>
  </div>
  <div class="ten wide column">
    <a name="add-a-course"></a>
    <h3>Add a Course</h3>
    <p>The first time you login you'll be asked to add a course to your account.  Simply click one of the listed Available Courses in the menu.  You can now begin adding materials to your course.</p>
    <p>To add more courses, or remove courses, click the add courses button on the right side of the course menu.  Click the course you want to add.  If you want to remove a course, just click the course and confirm.</p>
    <div class="ui grid two columns">
      <div class="column">
        <img class="ui large bordered image" src="/assets/img/learn-add-course-dialogue.jpg">
      </div>
      <div class="column">
        <img class="ui large bordered image" src="/assets/img/learn-add-course-button.jpg">
      </div>
    </div>
    <div class="ui divider fifty-spacer"></div>

    <a name="find-a-case"></a>
    <h3>Find a Case</h3>
    <p>To find a case click in the case search bar and type the case name.  All cases that include your search term in their full name will be returned.  The more specific you can be the better.  To add the case to your course, just click on the case in the search results.</p>
    <div class="ui grid two columns">
      <div class="column">
        <img class="ui large bordered image" src="/assets/img/learn-add-case.jpg">
      </div>
      <div class="column">
      </div>
    </div>
    <div class="ui divider fifty-spacer"></div>

    <a name="add-a-code"></a>
    <h3>Add a Code</h3>
    <p>To add a code to your course materials, click the add code button.  A menu will open that allows you to browse the codes we offer by collection, section, and code.  Click the code to add it to your course materials.</p>
    <div class="ui grid two columns">
      <div class="column">
        <img class="ui large bordered image" src="/assets/img/learn-browse-codes.jpg">
      </div>
      <div class="column">
        <img class="ui large bordered image" src="/assets/img/learn-add-code.jpg">
      </div>
    </div>
    <div class="ui divider fifty-spacer"></div>

    <a name="add-custom-material"></a>
    <h3>Add a Custom Material</h3>
    <p>If you can't find what you're looking for you can always add a custom material to your course.  To add a custom material, click the custom material button.  Give the material a title, and content.  You can add opinions, codes, statutes, regulations, and other materials.  Submit the material and it will be added to your course.</p>
    <div class="ui grid two columns">
      <div class="column">
        <img class="ui large bordered image" src="/assets/img/learn-custom-material-button.jpg">
      </div>
      <div class="column">
        <img class="ui large bordered image" src="/assets/img/learn-custom-material-modal.jpg">
      </div>
    </div>
    <div class="ui divider fifty-spacer"></div>

    <a name="arrange-materials"></a>
    <h3>Arrange Materials</h3>
    <p>You can change the order your materials are presented in.  To rearrange your materials, just click the material you want to move and drag it to the place you want.  you can also rearrange entire briefs in the outline view.</p>
    <div class="ui grid two columns">
      <div class="column">
        <img class="ui large bordered image" src="/assets/img/learn-arrange-materials.jpg">
      </div>
      <div class="column">
      </div>
    </div>
    <div class="ui divider fifty-spacer"></div>

    <a name="take-notes"></a>
    <h3>Take Notes While you Read</h3>
    <p>You can save time by taking notes while you read.  To add part of a material to your notes, just highlight the section you want to save and click F (Fact), I (Issue), R (Rule), H (Holding), A (Analysis), or N (Notes)</p>
    <div class="ui grid two columns">
      <div class="column">
        <img class="ui large bordered image" src="/assets/img/learn-take-notes.jpg">
      </div>
      <div class="column">
      </div>
    </div>
    <div class="ui divider fifty-spacer"></div>

    <a name="edit-a-brief"></a>
    <h3>Edit a Material Brief</h3>
    <p>Click "Brief" to switch to brief mode.  In brief mode you can view and edit the notes you've taken from the material.  Here you can reword your notes or add class discussion.</p>
    <div class="ui grid two columns">
      <div class="column">
        <img class="ui large bordered image" src="/assets/img/learn-edit-brief.jpg">
      </div>
      <div class="column">
      </div>
    </div>
    <div class="ui divider fifty-spacer"></div>

    <a name="view-outlines"></a>
    <h3>View Course Outlines</h3>
    <p>Click Outline in the menu bar to go to the Outline page.  Here you can view an outline for every course your taking.  You can toggle the sections you want included in your outline.  You can also rearrange your briefs into a helpful order.</p>
    <div class="ui grid two columns">
      <div class="column">
        <img class="ui large bordered image" src="/assets/img/learn-outline-button.jpg">
      </div>
      <div class="column">
        <img class="ui large bordered image" src="/assets/img/learn-view-outline.jpg">
      </div>
    </div>
    <div class="ui divider fifty-spacer"></div>

    <a name="download-outlines"></a>
    <h3>Download Course Outlines</h3>
    <p>You can also export your outlines for further editing or study.  You can download your outline as either a spreadsheet (.csv) or a document (.doc).</p>
    <div class="ui grid two columns">
      <div class="column">
        <img class="ui large bordered image" src="/assets/img/learn-download-outline.jpg">
      </div>
      <div class="column">
      </div>
    </div>
    <div class="ui divider fifty-spacer"></div>

    <h3>Questions?</h3>
    <p>Feel free to contact us with any questions</p>
    <button class="ui button contact-btn">Contact Us</button>

  </div>
</div>
{% include 'pages/modals/contact.html' %}
{% include 'pages/inc/footer.html' %}
