{% include 'pages/inc/header.html' %}
  <div class="fourteen wide column centered">
    <h2>
      Website & Service Privacy Policy
    </h2>
    <ol class="list">
    <li><h3>Introduction</h3>
      <p>This Privacy Policy is supplemental and requisite to Our Agreement <a href="/terms">here</a>.</p>

      <p>This Privacy Policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read Our Privacy Policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle Your Personally Identifiable Information in accordance with Our Website.</p>
    </li>
    <li>
      <h3>What anonymous information do we collect?</h3>
      <p>We use custom log systems and Google Analytics to record anonymous information about Visitor behavior and demographics.  We use this data to:
      Monitor/enhance Website performance;
      Monitor/administer marketing campaigns; and
      Monitor security threats or vulnerabilities.</p>
    </li>
    <li>
      <h3>What personal information do we collect from the people that visit Website?</h3>
      <p>When registering on Our Website, as appropriate, You may be asked to enter Your email address or other details to help You with Your experience.</p>
    </li>
    <li>
      <h3>When do we collect personal information?</h3>
      <p>We collect information from You when You register on Our Website or enter information on Our Website.</p>
    </li>
    <li>
      <h3>How do we use Your information?</h3>
      <p>We may use the information we collect from You when You register, make a purchase, sign up for Our mailing list, respond to a survey or marketing communication, surf the Website, or use certain other Website features in the following ways:
        <ol>
          <li>To personalize User's experience and to allow us to deliver the type of content and product offerings in which You are most interested.</li>
          <li>To improve Our Website in order to better serve You.</li>
          <li>To allow us to better service You in responding to Your customer service requests.</li>
          <li>To administer a contest, promotion, survey or other Website feature.</li>
          <li>To quickly process Your transactions.</li>
        </ol>
      </p>
    </li>
    <li>
      <h3>How do we protect visitor information?</h3>
      <p>Our Website is scanned on a regular basis for security holes and known vulnerabilities in order to make Your visit to Our Website as safe as possible.</p>

      <p>Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential.  User passwords are encrypted in Our database. Our Website forces connections to be encrypted via Secure Socket Layer (SSL) technology.</p>

      <p>We implement a variety of security measures when a User registers, makes payments, submits, or accesses their information to maintain the safety of Your personal information.</p>

      <p>All credit card transactions are processed through Stripe and are not stored or processed on Our servers.  We do store information about the transactions date, person, and result (success or failure).  We do not store any information about the User's credit card.</p>
    </li>
    <li>
      <h3>When do we remove user information?</h3>
      <p>If You cancel Your account we reserve the right, but are under no obligation, to store Your account information for up to three (3) years from the date of cancellation.  Account information may be removed sooner under extreme circumstances.  We reserve full discretion in account information storage and removal.</p>
    </li>
    <li>
      <h3>Do we use 'cookies'?</h3>
      <p>Yes. Cookies are small files that a Website or its service provider transfers to Your computer's hard drive through Your Web browser (if You allow) that enables the Website's or service provider's systems to recognize Your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in Your shopping cart. They are also used to help us understand Your preferences based on previous or current Website activity, which enables us to provide You with improved services. We also use cookies to help us compile aggregate data about Website traffic and Website interaction so that we can offer better Website experiences and tools in the future.</p>

      <p>We use cookies to understand and save User's preferences for future visits.</p>

      <p>You can choose to have Your computer warn You each time a cookie is being sent, or You can choose to turn off all cookies. You do this through Your browser (like Internet Explorer) settings. Each browser is a little different, so look at Your browser's Help menu to learn the correct way to modify Your cookies.</p>

      <p>If users disable cookies in their browser:
      If You disable cookies off, some features will be disabled It will turn off some of the features that make Your Website experience more efficient and some of Our services will not function properly.</p>
    </li>
    <li>
      <h3>Third Party Disclosure</h3>
      <p>We do not sell, trade, or otherwise transfer to outside parties Your personally identifiable information unless we provide You with advance notice. This does not include Website hosting partners and other parties who assist us in operating Our Website, conducting Our business, or servicing You, so long as those parties agree to keep this information confidential. We may also release Your information when we believe release is appropriate to comply with the law, enforce Our Website policies, or protect Ours or others' rights, property, or safety.</p>

      <p>However, non-personally identifiable visitor information may be provided to other parties for marketing, advertising, or other uses.</p>
    </li>
    <li>
      <h3>Third party links</h3>
      <p>Occasionally, at Our discretion, we may include or offer third party products or services on Our Website. These third party Websites have separate and independent privacy policies. We therefore have no responsibility or liability for the content and activities of these linked Websites. Nonetheless, we seek to protect the integrity of Our Website and welcome any feedback about these Websites.</p>

      <p>What Google Analytic’s features do we use? We have implemented the following (non-exclusive):
        <ol>
          <li>Google Display Network Impression Reporting</li>
          <li>Demographics and Interests Reporting</li>
        </ol>
      </p>

      <p>We along with third-party vendors, such as Google use first-party cookies (such as the Google Analytics cookies) and third-party cookies (such as the DoubleClick cookie) or other third-party identifiers together to compile data regarding User interactions with ad impressions, and other ad service functions as they relate to Our Website.</p>
    </li>
    <li>
      <h3>Opting Out</h3>
      <p>Users can set preferences for how Google advertises to You using the Google Ad Settings page. Alternatively, You can opt out by visiting the Network Advertising initiative opt out page or permanently using the Google Analytics Opt Out Browser add on.</p>
    </li>
    <li>
      <h3>California Online Privacy Protection Act</h3>
      <p>CalOPPA may be found <a target="_blank" href="http://consumercal.org/california-online-privacy-protection-act-caloppa/#sthash.0FdRbT51.dpuf">here</a>.</p>

      <p>According to CalOPPA we agree to the following:
      Users can visit Our Website anonymously
      Once this privacy policy is created, we will add a link to it on Our homepage, or as a minimum on the first significant page after entering Our Website.
      Our Privacy Policy link includes the word 'Privacy', and can be easily be found on the page specified above.</p>

      <p>Users will be notified of any privacy policy changes on Our Privacy Policy page</p>
    </li>
    <li>
      <h3>How does Our Website handle do not track signals?</h3>
      <p>We honor do not track signals and do not track, plant cookies, or use advertising when a Do Not Track (DNT) browser mechanism is in place.</p>
    </li>
    <li>
      <h3>Does Our Website allow third party behavioral tracking?</h3>
      <p>It's also important to note that we do not allow third party behavioral tracking, beyond what is enabled in Google Analytics.</p>
    </li>
    <li>
      <h3>COPPA (Children Online Privacy Protection Act)</h3>
      <p>When it comes to the collection of personal information from children under 13, the Children's Online Privacy Protection Act (COPPA) puts parents in control. The Federal Trade Commission, the nation's consumer protection agency, enforces the COPPA Rule, which spells out what operators of websites and online services must do to protect children's privacy and safety online.</p>

      <p>We do not specifically market to children under 13.</p>
    </li>
    <li>
      <h3>Fair Information Practices</h3>
      <p>The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.</p>

      <p>In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur and is brought to our attention:
      We will notify the Users: via email within 7 business days, and via in Website notification within 7 business days</p>

      <p>We also agree to the individual redress principle, which requires that individuals have a right to pursue legally enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data Users, but also that individuals have recourse to courts or a government agency to investigate and/or prosecute non-compliance by data processors.</p>
    </li>
    <li>
      <h3>CAN SPAM Act</h3>
      <p>The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.</p>

      <p>We collect Your email address in order to:
      To be in accordance with CANSPAM we agree to the following:<br/>
      If at any time You would like to unsubscribe from receiving future emails, You can email us at and we will promptly remove You from ALL correspondence.</p>
    </li>
    <li>
      <h3>Contacting Us</h3>
      <p>If there are any questions regarding this privacy policy You may contact us <a class="clickable contact-btn">here</a>.  We are unable to provide an email or physical address for SPAM/Security related threats.</p>
      <p>Last Updated: May 28th, 2016</p>
    </li>
  </ol>
  </div>
{% include 'pages/modals/contact.html' %}
{% include 'pages/inc/footer.html' %}
