{% include 'pages/inc/header.html' %}
  <div class="ui two wide column"></div>
  <div class="ui seven wide column">
    <div class="ui segment">
      {% if user.pro == false %}
        <h3>Get Study Legal Pro</h3>
        <div class="ui divider"></div>
        <p>Pay here to get Pro for 1 Semester.<br/>
          You'll have Pro until January 20th.<br/>
        You'll recieve an email receipt.</p>
      {% endif %}

      {% if user.pro == true %}
        <h3>Pro Expires: {{ user.expiration }}</h3>
        <div class="ui divider"></div>
        <p>
          Pay now to extend Study Legal Pro for a semester.<br/>
          You'll have Pro until January 20th.<br/>
          You'll recieve an email receipt.</p>
      {% endif %}
    </div>
    <div class="ui segment">
      <h3>Order Summary</h3>
      <div class="ui divider"></div>
      <table class="ui padded very basic celled table">
        <thead>
          <tr><th>Item</th>
          <th>Total</th>
        </tr></thead>
        <tbody>
          <tr>
            <td>
              <h4 class="ui image header">
                <img src="/assets/img/study_legal_icon.png" class="ui mini image">
                <div class="content">
                  Pro Service
                  <div class="sub header">
                    One Semester of briefing and outlining.
                    <br>*First semester discount.
                  </div>
                </div>
              </h4>
            </td>
            <td>
              <span style="text-decoration: line-through;">$149.99</span><br>
              <span style="color: rgb(0, 128, 37); font-weight: bold;font-size:16px;">$99.99</span>*
           </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="ui seven wide column">
    <div class="ui segment">
    {% include 'pages/inc/payment-form.html' %}
    </div>
    <div id="error-wrapper" style="display:none;">
      <div class="ui error icon message">
        <i class="payment icon"></i>
        <div class="content">
          <div class="header">
            There was an error.
          </div>
          <p id="error-message"></p>
        </div>
      </div>
    </div>
  </div>
{% include 'pages/modals/contact.html' %}
{% include 'pages/inc/footer.html' %}
