{% include 'pages/inc/header.html' %}

  <div class="fourteen wide column centered">
    <h2>
     Website & Service Terms and Conditions
    </h2>

    <ol class="list">

      <li class="item"><h3>Introduction to Our Contract</h3>
        <p>
          Welcome to Study Legal LLC (“Study Legal,” “SL,” “We,” “Our”).  By accessing this Website, you (“You,” “Your”) are agreeing to be bound by these Website Terms and Conditions (“Agreement”), all applicable laws and regulations, and agree that You are responsible for compliance with any applicable local laws. If You do not agree with any of these terms, You are prohibited from using or accessing this site.
        </p>
      </li>

      <li><h3>Definitions: What We’re Referring To</h3>
      <p>
        <ol>
          <li>“Study Legal,” “SL,” “We,” “Our” - refers to Study Legal LLC, a Hawaii Limited Liability Company.</li>
          <li>“Website” - refers to Study Legal’s Website at the domains: https://study.legal, or http://studylegal.net.  The Website includes all backend, and frontend code, and data.</li>
          <li>“Visitor(s)” - refers to any entity accessing or using the Website.</li>
          <li>“Basic Service” - refers to the software service We provide to User(s) who register for accounts, did not purchase Pro Service, and were not credited for Pro Service.</li>
          <li>“Pro Service” - refers to the software service We provide to User(s) who purchased Pro Service, or were credited for Pro Service.</li>
          <li>“User(s)” - refers to Visitor(s) that have registered for the Service.</li>
          <li>“Basic User(s)” - refers to Users who have not purchased, or have been credited for, the Pro Service.</li>
          <li>“Pro User(s)" - refers to Users who have purchased, or have been credited for, the Pro Service.</li>
        </ol>
      </p>
    </li>


      <li><h3>Basic Service Description</h3>
      <p>
        Basic Service allows Users to save classes, add materials to those classes, and read those materials.  In exchange for providing Basic Service, We hold the right to direct promotions, and other information, at Basic Users.  We reserve the right to contact Basic Users for any purpose, volume, and method, legally available.
      </p>
    </li>

      <li><h3>Pro Service Description</h3>
        <p>
          Pro Service provides Users the same abilities as Basic Service, and in addition, allows Users to take notes while they read, to view and edit material briefs, and to generate outlines from the User’s personal briefs.  Pro Service may be acquired by Payment or Credit.  We reserve the right to contact Pro Users for any purpose, volume, and method, legally available.  Pro Service is acquired only for temporary periods of time.  In no instance is Pro Service acquired indefinitely.
        </p>
          <ol>
            <li><h4>By Payment</h4>
              <p>
                Pro Service may be acquired by Payment.  Payments are governed by the Payments section in this Agreement.  In exchange for the User’s Payment and the right to contact the User as mentioned previously, we provide Pro User’s with Pro Service for the duration of the Users purchase or credit.
              </p>
            </li>
          <li>
            <h4>By Credit</h4>
            <p>
              Pro Service may be acquired by Credit.  We reserve the right to gift Pro Service to Users in the form of a credit.  We reserve the right to issue, cancel, extend, or otherwise modify credits at any time, and for any reason.
            </p>
          </li>
        </ol>
      </li>

        <li><h3>Payments</h3>
          <p>
            All Payments are handled by Stripe, Inc. (“Stripe”).  All Payments are subject to Stripe’s Terms of Service found <a target="_blank" href="https://stripe.com/us/terms">here</a>.
          </p>
        </li>

      <li><h3>Account Cancellation</h3>
        <p>
          You may cancel your account by clicking the applicable link on Your account web page.  A User must enter their current email and password to cancel their account.  When an account is canceled we reserve the right, but are under no obligation, to retain the account information for up to three (3) years from the date of cancellation.  We reserve this right to prevent fraudulent or accidental cancellations.  Account information may be removed sooner under extreme circumstances.  We reserve full discretion in account information storage and removal for a period up to three (3) years.
        </p>
      </li>

      <li><h3>Privacy Policy</h3>
        <p>
          Our Privacy Policy is supplemental and requisite to this agreement.  To agree to this Agreement is to also be bound by our Privacy Policy.  Our Privacy Policy can be found <a href="/privacy">here</a>.
        </p>
      </li>

      <li><h3>License: We Give You A License</h3>
        <p>
          Permission is granted to temporarily download one copy of the materials  (information or software) on Study Legal's Website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:<br/>
          <ol>
            <li>modify or copy the materials;</li>
            <li>use the materials for any commercial purpose, or for any public display (commercial or non-commercial);</li>
            <li>attempt to decompile or reverse engineer any software contained on Study Legal's Website;</li>
            <li>remove any copyright or other proprietary notations from the materials; or</li>
            <li>transfer the materials to another person or "mirror" the materials on any other server.</li>
          </ol>
        </p>
        <p>
          This license shall automatically terminate if you violate any of these restrictions and may be terminated by Study Legal at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.
        </p>
      </li>

      <li class="conspicuous"><h3>General Disclaimer: We’re Not Guaranteeing Anything</h3>
        <p>
          The materials on Study Legal's Website are provided "as is". Study Legal makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, Study Legal does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet Website or otherwise relating to such materials or on any sites linked to this site.
        </p>
      </li>

      <li class="conspicuous"><h3>Website Disclaimer: The Service Might Fail</h3>
        <p>
          The Website and Service (Basic and Pro) may fail at anytime.  Study Legal can’t guarantee the accuracy or recording of any Service data.  The Service may lose data for several reasons.  Study Legal makes no warranties or guarantees for the quality, accuracy, or safe keeping of Service data.
        </p>
      </li>

      <li class="conspicuous"><h3>Limitations: You Won’t Hold Us Liable</h3>
        <p>
          In no event shall Study Legal or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on Study Legal's Internet site, even if Study Legal or a Study Legal authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.
        </p>
      </li>

      <li class="conspicuous"><h3>Consequential Damages DISCLAIMER</h3>
        <p>
          IN NO EVENT SHALL STUDY LEGAL, ITS SUPPLIERS, OR ANY THIRD PARTIES MENTIONED ON THE WEBSITE OR SERVICE BE LIABLE FOR ANY DAMAGES WHATSOEVER (INCLUDING, WITHOUT LIMITATION, INCIDENTAL AND CONSEQUENTIAL DAMAGES, LOST PROFITS, OR DAMAGES RESULTING FROM LOST DATA OR BUSINESS INTERRUPTION) RESULTING FROM THE USE OR INABILITY TO USE THE WEBSITE OR SERVICE, WHETHER BASED ON WARRANTY, CONTRACT, TORT, OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT THE COMPANY IS ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
        </p>
      </li>

      <li><h3>Revisions and Errata: We Might Make Mistakes</h3>
        <p>
          The materials appearing on Study Legal's Website could include technical, typographical, or photographic errors. Study Legal does not warrant that any of the materials on its Website are accurate, complete, or current. Study Legal may make changes to the materials contained on its Website at any time without notice. Study Legal does not, however, make any commitment to update the materials.
        </p>
      </li>

      <li><h3>Links: We’re Not Monitoring Them</h3>
        <p>
          Study Legal has not reviewed all of the sites linked to its Internet Website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by Study Legal of the site. Use of any such linked Website is at the user's own risk.
        </p>
      </li>

      <li><h3>Contract Modifications: We Can Change The Agreement</h3>
        <p>
          Study Legal may revise this Agreement for its Website at any time without notice. By using this Website you are agreeing to be bound by the then current version of this Agreement.
        </p>
      </li>

      <li><h3>Disputes</h3>
        <ol>
          <li><h4>Arbitration</h4>
            <p>
              In the event of any dispute in connection with the Agreement, the parties agree to resolve the dispute by binding arbitration in Honolulu, Hawaii, under the Commercial Arbitration Rules of the American Arbitration Association (“AAA”), with a single arbitrator appointed by the AAA.  The prevailing party shall be entitled to its reasonable attorneys’ fees and costs from the other party, whether or not the matter is litigated or arbitrated to a final judgment or award.  Notwithstanding the foregoing, both parties retain the right to seek self-help remedies or to obtain provisional or ancillary remedies such as injunctive relief before, during or following any arbitration proceeding.  Vendor agrees that should Customer be required by any agreement, specification or other conditions incorporated herein or attached hereto to arbitrate any matter arising out of the Agreement, Vendor agrees to arbitration as provided in the agreement, specification or other conditions.
            </p>
          </li>
          <li><h4>Costs</h4>
            <p>
              The Agreement shall be construed and enforced in accordance with the laws of the State of Hawaii provided, however, if the address of Customer on the face hereof or the project location is in a state other than Hawaii the Agreement shall be construed in accordance with the laws of the state, territory or country set forth in such address.  The prevailing party in any litigation, arbitration or other legal proceeding arising out of the Agreement shall be entitled to recover its reasonable attorneys’ fees and costs of suit including but not limited to experts’ fees incurred by the prevailing party from the other party.
            </p>
          </li>
          <li><h4>Governing Law</h4>
            <p>
              Any claim relating to Study Legal's Website shall be governed by the laws of the State of Hawaii without regard to its conflict of law provisions.
            </p>
          </li>
        </ol>
      </li>

      <li><h3>Contract Enforcement</h3>
        <p>
          If any provision of the Agreement is determined to be invalid or unenforceable, the remainder shall be unaffected and shall be enforceable against both parties.  No failure or delay of either party in exercising any right, power or remedy under the Agreement shall operate as a waiver of any such right, power or remedy.  This Agreement sets forth the entire understanding of the parties with respect to the subject matter hereof and supersedes and replaces all prior agreements or understandings, oral or written, between them.  This Agreement may not be amended or modified except by a writing signed by both parties.
        </p>
      </li>
    </ol>
    <p>Last Updated: June 20th, 2016</p>
</div>

{% include 'pages/modals/contact.html' %}
{% include 'pages/inc/footer.html' %}
