{% include 'pages/inc/header.html' %}
  <div class="ten wide column centered sl-blog">
    <h2 class="ui align centered-text">Updates About Study Legal</h2>
    <div class="ui items">

      <div class="item">
        <div class="image">
          <img class="icon-image" src="/assets/img/study_legal_icon.png">
        </div>
        <div class="content">
          <h2 class="header">We've Launched Our Website</h2>
          <div class="meta">
            <span>Today we launched our website.  We're hoping to do some testing.</span>
          </div>
          <div class="description">
            <p></p>
          </div>
          <div class="extra">
            May 20th, 2016
          </div>
        </div>
      </div>

      <div class="item">
        <div class="image">
          <img class="icon-image" src="/assets/img/study_legal_icon.png">
        </div>
        <div class="content">
          <h2 class="header">Terms and Conditions Updated</h2>
          <div class="meta">
            <span>We've changed our <a href="/terms">Terms and Conditions</a>.</span>
          </div>
          <div class="description">
            <p></p>
          </div>
          <div class="extra">
            June 20th, 2016
          </div>
        </div>
      </div>

      <div class="item">
        <div class="image">
          <img class="icon-image" src="/assets/img/study_legal_icon.png">
        </div>
        <div class="content">
          <h2 class="header">Shidler PACE Launchpad</h2>
          <a href="http://pace.shidler.hawaii.edu/launchpad"><img class="spaced-image" src="/assets/img/shidler_pace_launchpad_banner.png"></a>
          <div class="meta">
            <span>Study Legal LLC is now in the Pacific Asian Center For Entrepreneurship <a href="http://pace.shidler.hawaii.edu/launchpad">SUMMER LAUNCHPAD</a>.  We'll be applying the Lean Startup method for the next six weeks.</span>
          </div>
          <div class="description">
            <p></p>
          </div>
          <div class="extra">
            June 27th, 2016
          </div>
        </div>
      </div>

    </div>

  </div>
{% include 'pages/modals/contact.html' %}
{% include 'pages/inc/footer.html' %}
