<script type="text/javascript" src="/assets/js/account.js"></script>
<form action="/user/cancel/account" class="ui form" method="post" id="cancelaccountform">
<div class="field">
  <label>Email</label>
  <div  class="ui left icon input">
    <input type="text" id="em" name="em" placeholder="Enter current email address." />
    <i class="user icon"></i>
  </div>
</div>
<div class="field">
  <label>Password</label>
  <div  class="ui left icon input">
    <input type="password" id="p" name="p" placeholder="Enter current password" />
    <i class="lock icon"></i>
  </div>
</div>
<div class="field">
  <button type="submit" class="ui button cancel-account-btn" id="cancel-account-btn">Cancel Account</button>
</div>
</form>
