<form action="/user/reset/password" class="ui large form" method="post" id="resetform">
    <div class="field">
      <div class="ui left icon input">

        <input class="" type="password" name="pa" id="pa" placeholder="Password" />
        <i class="lock icon"></i>
      </div>
    </div>
    <div class="field">
      <div class="ui left icon input">
        
        <input class="" type="password" name="confirmpa" id="confirmpa" placeholder="Confirm Password" />
        <i class="lock icon"></i>
      </div>
    </div>
      <input class="ui input" type="hidden" name="uh" id="uh" value="{{userhash}}" />
      <input class="ui input" type="hidden" name="rh" id="rh" value="{{reghash}}" />
    <input type="submit" class="ui button" value="Submit" />
</form>
