{% include 'pages/inc/header.html' %}
  <div class="five wide column centered ui segment">
    <img src="/assets/img/study_legal_icon.png" class="sl-alert-icon ui centered image" />
    <h1 class="sl-alert-h1">Checkout Failed</h1>
    <div class="ui divider"></div>
    <p class="sl-alert-p">
      Sorry, something went wrong.  You can click below to try again.  If you think this has been an error you can contact us.<br/><br/>
      <a class="ui orange huge button" href="/pro">Go Pro<i class="chevron right icon"></i></a>
    </p>
  </div>
{% include 'pages/modals/contact.html' %}
{% include 'pages/inc/footer.html' %}
