{% include 'pages/inc/header.html' %}
  <div class="five wide column centered ui segment">
    <img src="/assets/img/study_legal_icon.png" class="sl-alert-icon ui centered image" />
    <h1 class="sl-alert-h1">Message Sent</h1>
    <div class="ui divider"></div>
    <p class="sl-alert-p">
      Thanks for contacting us.<br/>  Your message was successfully sent.<br/>  We'll get back to you asap.<br/><br/>
    </p>
  </div>
{% include 'pages/modals/contact.html' %}
{% include 'pages/inc/footer.html' %}
