{% include 'pages/inc/header.html' %}
  <div class="five wide column centered ui segment">
    <img src="/assets/img/study_legal_icon.png" class="sl-alert-icon ui centered image" />
    <h1 class="sl-alert-h1">Pro Expires Soon!</h1>
    <div class="ui divider"></div>
    <p class="sl-alert-p">
      Your Pro account is gonna expire soon.  Click here to purchase Pro.<br/><br/>
      <a class="ui orange huge button" href="/pro">Go Pro<i class="chevron right icon"></i></a>
    </p>
    <div class="ui horizontal divider">
      Or
    </div>
    <p class="sl-alert-p">
      <a class="ui green huge button" href="/read">Read</a>
    </p>
  </div>
{% include 'pages/modals/contact.html' %}
{% include 'pages/inc/footer.html' %}
