{% include 'pages/inc/header.html' %}
  <div class="five wide column centered ui segment">
    <img src="/assets/img/study_legal_icon.png" class="sl-alert-icon ui centered image" />
    <h1 class="sl-alert-h1">1 Free Month of Pro</h1>
    <h2 class="sl-alert-h1">Welcome to Study Legal</h2>
    <div class="ui divider"></div>
    <p class="sl-alert-p">
      We're giving you 1 Free Month of Pro. <br/> We hope you like the briefing and outlining tools.<br/><br/>
      <a class="ui green huge button" href="/read">Read <i class="chevron right icon"></i></a>
    </p>
  </div>
{% include 'pages/modals/contact.html' %}
{% include 'pages/inc/footer.html' %}
