{% include 'pages/inc/header.html' %}
  <div class="five wide column centered ui segment">
    <img src="/assets/img/study_legal_icon.png" class="sl-alert-icon ui centered image" />
    <h1 class="sl-alert-h1">Account Locked</h1>
    <div class="ui divider"></div>
    <p class="sl-alert-p">
      <i class="huge lock icon"></i><br/><br/>
      Sorry, you've failed to login to many times.  Your account has been locked.  If you believe this is an error you can contact us.<br/>
    </p>
  </div>
{% include 'pages/modals/contact.html' %}
{% include 'pages/inc/footer.html' %}
