{% include 'pages/inc/header.html' %}
  <div class="five wide column centered ui segment">
    <img src="/assets/img/study_legal_icon.png" class="sl-alert-icon ui centered image" />
    <h1 class="sl-alert-h1">Reset Expired</h1>
    <div class="ui divider"></div>
    <p class="sl-alert-p">
      <i class="huge remove icon"></i><br/><br/>
      Sorry, that link expired. You can click below to resend it.<br/><br/>
      <a class="ui huge button reset-btn" href="#">Reset</a>
    </p>
</div>
{% include 'pages/modals/contact.html' %}
{% include 'pages/inc/footer.html' %}
