{% include 'pages/inc/header.html' %}
  <div class="five wide column centered ui segment">
    <img src="/assets/img/study_legal_icon.png" class="sl-alert-icon ui centered image" />
    <h1 class="sl-alert-h1">Register First</h1>
    <div class="ui divider"></div>
    <p class="sl-alert-p">
      You have to register to do that.<br/>  Click below to register.<br/><br/>
      <button class="ui green huge button register-btn">Register <i class="chevron right icon"></i></a>
    </p>
  </div>
{% include 'pages/modals/contact.html' %}
{% include 'pages/inc/footer.html' %}
